@model IEnumerable<Book>
@using Microsoft.AspNetCore.Identity
@using Bookweb.Areas.Identity.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm("SearchByTitle", "Book", FormMethod.Post))
{
<div class="row w-100">
    <input type="text" class="col col-6 btn-lg" placeholder="Search by title..." id="title" name="title" />
    <input type="submit" class="col col-3 btn btn-lg btn-primary" value="Search" />
    <a class="col col-3 btn btn-lg btn-default" asp-area="" asp-controller="Book" asp-action="List">See all books</a>

</div>
}

@if (User.IsInRole("USER") || User.IsInRole("ADMIN"))
{
    List<Book> books = new List<Book>();
    foreach (var b in Model.OrderBy(b => b.Title))
    {
        books.Add(b);
        if (b.IsAccepted == false)
        {
            if (User.IsInRole("ADMIN"))
            {
                <div>
                    <span>@books.Count</span>
                    <span>@b.Title</span>
                    <span>@b.Author</span>
                    <span>@b.Description</span>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <span><a href="/Book/Remove?id=@b.ID">Remove</a></span>
                        <span><a href="/Book/Accept?id=@b.ID">Accept</a></span>
                    }
                    @if (User.IsInRole("USER") || User.IsInRole("ADMIN"))
                    {
                        <span><a href="/Book/AddToFavorite?id=@b.ID">Add to Favorite</a></span>
                    }
                </div>
            }
        }
        else
        {
            <div>
                <span>@books.Count</span>
                <span>@b.Title</span>
                <span>@b.Author</span>
                <span>@b.Description</span>
                @if (User.IsInRole("ADMIN"))
                {
                    <span><a href="/Book/Remove?id=@b.ID">Remove</a></span>
                }
                @if (User.IsInRole("USER") || User.IsInRole("ADMIN"))
                {
                    <span><a href="/Book/AddToFavorite?id=@b.ID">Add to Favorite</a></span>
                }
            </div>
        }
    }
}
else
{
    List<Book> books = new List<Book>();
    foreach (var b in Model.OrderBy(b => b.Title))
    {
        <div>
            <span>@books.Count</span>
            <span>@b.Title</span>
            <span>@b.Author</span>
            <span>@b.Description</span>
        </div>
    }
}
